.cls-1 {
    fill: #a4a28f;
}

.cls-2 {
    fill: #afae9b;
}

.cls-3 {
    fill: #b8b8a8;
}

.cls-4 {
    fill: #c1c1b4;
}

.cls-5 {
    fill: #c8c7bb;
}

.cls-6 {
    fill: #d0d1c9;
}

.cls-7 {
    fill: #babbac;
}

.cls-8 {
    fill: #b4b2a1;
}

.cls-9 {
    fill: #bfbeb0;
}

.cls-10 {
    fill: #a5a38f;
}